@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Pixelify+Sans&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Pixelify+Sans&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Pixelify+Sans&family=Raleway:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.portfolioMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--color-fondo);
    min-height: 85dvh;
}

:root {

    /* Fuentes */
    --fuente-primaria: "Fraunces", serif; /* Titulos */
    --fuente-secundaria: "Space Grotesk", sans-serif; /* Textos largos */
    --fuente-pixel: "Pixelify Sans", sans-serif;

    /* Colores */
    --color-primario: #D3F36B;
    --color-secundario: #262A2D;
    --color-fondo: #F7F6F0;
    --color-blanco: white;

    /* Radius de los div-botones */
    --border-radius: 1px;

    /* Tamaño fuentes */
    --font-size-grande: 1em;
    --font-size-normal: 0.6em;
    --font-size-pequeña: 0.4em;

}

.visible {
    opacity: 1;
    transform: translateY(0);
}

.noVisible {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease-out, transform 2s ease-out;
}

.botonesSection {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    justify-items: center;
    gap: 26px;
}

@media (width < 800px){
    .botonesSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.ver-seleccion {
    display: flex;
    justify-content: center;
    align-items: center;
}