.sobreMi-section {
    display: flex;
    flex-direction: column;
    padding-block: 1.35em;
}

.sobreMi-section__presentacion{
    display: flex;
    flex-direction: column;
    background-color: var(--color-primario);
    position: relative;

    border-radius: 5px;
    max-width: 800px;
    margin-inline: 1em;
}