.botonesSection {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    gap: 26px;
}

.ver-seleccion {
    display: flex;
    justify-content: center;
    align-items: center;
}