main {
    background-color: #101828;
    min-height: 85dvh;
}

:root {
    --color-primario: #1447e6;
    --color-secundario: #101828;
    --color-tarjetas: #1F2937;
    --color-letras: white;
}

.redes-sociales {
    display: flex;
    position: absolute;
    top: 30px;
    right: 30px;
    gap: 20px;

    img {
        width: 50px;
        transition: all 0.1s;
        &:hover{
            transform: scale(1.1);
        }
    }


}

@media(width < 600px){
    .redes-sociales{
        top: 10px;
        right: 10px;
        gap: 10px;
        img {
            width: 40px;
        }
    }
}

.home-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: var(--color-letras);
    padding: 2em;

    .present {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1em;
        gap: 1em;

        strong {
            font-size: 1.5em;
        }

        h1{
            color: var(--color-primario);
            font-size: 3em;
        }
    
        img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            border-radius: 50%;
            border: 2px solid black;
        }
    }

    .links-cv{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 2em;
        gap: 1em;

        a{
            background-color: var(--color-primario);
            width: 150px;
            padding-block: 1.6em;
            border-radius: 10px;
            border: 2px solid black;
            color: black;
            text-decoration: none;
            font-size: 1.1em;

            transition: all 0.1s;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}

.botones-section {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    gap: 3px;

    button {
        background-color: var(--color-primario);
        border-radius: 10px;
        border: 2px solid black;
        width: 200px;
        height: 100px;
        font-size: 2em;

        transition: transform 0.1s, background-color 0.5s, color 0.5s;
        &:hover{
            transform: scale(1.03);
        }

    }
    .active {
        background-color: var(--color-secundario);
        color: var(--color-letras);
    }
}

@media (width < 816px){
    .botones-section {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        button {
            width: 250px;
        }
    }
}

@media (width <= 500px){
    .botones-section {
        grid-template-columns: 1fr;
        button {
            width: 95dvw;
        }
    }
}

.ver-seleccion {
    display: flex;
    justify-content: center;
    align-items: center;
}