.presentacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color-secundario);
    gap: 16px;
    padding: 2em;

        h1{
            font-family: var(--fuente-primaria);
            font-size: 2rem;
        }
    
        p {
            font-family: var(--fuente-secundaria);
            text-wrap-mode: wrap;
        }

        .presentacion__fullstack {
            font-size: 1.3rem;
        }
    
        img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            border-radius: 50%;
            margin: 2em;
        }

        .presentacion__linkCV{
            background-color: var(--color-primario);
            color: var(--color-secundario);
            border-radius: 8px;
            text-decoration: none;
            padding: 15px;
            padding-inline: 40px;
            margin: 1em;
            

            font-family: var(--fuente-pixel);
            font-size: 1.3em;

            transition: all 0.1s;
            &:hover{
                border-radius: 0%;
                transform: border-radius 0;
            }
    }
}

.presentacion__lineaDivisoria{
    height: 1px;
    background-color: var(--color-secundario);
    width: 50%;
    justify-self: center;
    align-self: center;
    margin: 1em;
}