    .estudioCard {
        display: flex;
        flex-direction: column;

        max-width: 800px;
        border-radius: 5px 5px 0 0;
        background-color: var(--color-primario);
        margin-inline: 1.5em;

        transition: 0.1s;
        &:hover{
            transform: translateY(-2px) translateX(-2px);
            box-shadow: 2px 4px 6px -2px var(--color-secundario);
        }

        .estudioCard__topCard{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            border-radius: 5px;
            padding: 2em;
            gap: 12px;
            background-color: var(--color-primario);
            h1 {
                font-family: var(--fuente-primaria);
                font-size: 1.6em;
            }
            h2 {
                font-family: var(--fuente-pixel);
                font-size: 1.2em;
            }
            .estudioCard__topCard__barraDivisoria{
                height: 1px;
                width: 25%;
                background-color: var(--color-secundario);
            }
            p {
                font-family: var(--fuente-secundaria);
                font-size: 0.7rem;
            }


        }

        .estudioCard__bottonCard{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            padding: 2em;
            border-radius: 0 0 5px 5px;

            background-color: var(--color-secundario);
            color: var(--color-fondo);
            p {
                font-family: var(--fuente-secundaria);
                text-align: center;
            }
        }
    }