.proyectos-section {
    display: flex;
    flex-direction: column;
    padding-top: 2em;
    gap: 1em;

    .y-muchos-mas{
        color: var(--color-secundario);
        align-self: center;
    }
}
