.proyectoCard {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: var(--color-primario);

    .proyectoCard__foto{
        width: 200px;
    }

    .proyectoCard__seccionNegra{
        background-color: var(--color-secundario);

        .proyectoCard__tecnologias{
            img {
                width: 50px;
            }
        }
    }
}